* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

html, body, .app-wrapper {
  height: 100%;
}

a:hover {
  cursor: pointer;
}

.app-wrapper {
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

.app-main {
  width: 840px;
  padding: 8px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main {
  padding: 40px 0;
}

.left, .right {
  display: flex;
  gap: 10px;
}

.add-action button {
  padding: 0 5px;
  border: 0;
  font-size: 20px;
  font-weight: bold;
}

.form-wrapper {
  background-color: #fff;
  padding: 20px;
}

.todo-item {
  margin: 20px 0;
  padding: 20px;
  background-color: #fff;
}

.title h1 sup {
  font-size: 18px;
  font-weight: 400;
  padding: 0 10px;
}

#todo-task-name {
  max-width: 100%;
  width: 100%;
  font-size: 24px;
  padding: 10px;
  border: 0;
  border-bottom: 1px solid #c9c1c1;
}

#todo-task-name::placeholder {
  font-style: italic;
  color: #adadad;
  text-transform: lowercase;
}

.todo-item p {
  font-size: 30px;
  font-weight: 800;
  text-transform: lowercase;
}

.edit-btn, .delete-btn {
  border: 1px solid black;
  padding: 4px 5px;
  display: inline-block;
  font-size: 16px;
  text-transform: lowercase;
  font-weight: 400;
}